<p style="color: green"><%= notice %></p>

<% if @movie.image.attached? %>
  <image src="<%=(url_for(@movie.image))%>">
<% end %>


<%= render @movie %>

<div class="container">
  <%= turbo_stream_from "comments" %>
  <%= turbo_frame_tag "comments" do %>
  <% @movie.comments.each do |comment| %>
  <div class="comments">
      <%= comment.content %>
  </div>
 <% end %>

  <% end %>
</div>


<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie), class:"btn btn-primary" %> |
  <%= link_to "Back to movies", movies_path , class:"btn btn-primary"%>

  <%= button_to "Destroy this movie", @movie, method: :delete , class:"btn btn-primary ms-3"%>

<%= turbo_frame_tag "comment_form" do %>
  <%= render "comments/new" %>
<% end %>
</div>
